name: Go Conformance CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  workflow_dispatch:

# Declare default permissions as read only.
permissions: read-all

jobs:
  # Download the Go conformance client binary in it's own Github runner so that the version of Go used doesn't matter
  download-conformance-client:
    runs-on: ubuntu-latest
    outputs:
      cache-key: ${{ steps.resolve-latest-client.outputs.version }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@18bf8ad2ca49c14cbb28b91346d626ccfb00c518 # v2.1.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Resolve latest client version
      id: resolve-latest-client
      uses: GoogleCloudPlatform/functions-framework-conformance/.github/actions/client/resolve-latest@42e1d91749b9c9d59fe405c254dc5de4b3b801ca # v1.7.0
    # Check if it's already in the cache
    - name: Cache client
      id: check-for-cached-client
      uses: actions/cache@627f0f41f6904a5b1efbaed9f96d9eb58e92e920 # v3.2.4
      with:
        path: ~/go/bin/client
        key: ${{ steps.resolve-latest-client.outputs.version }}
    - name: Install and cache client
      if: ${{ steps.check-for-cached-client.outputs.cache-hit != 'true' }}
      uses: GoogleCloudPlatform/functions-framework-conformance/.github/actions/client/install@42e1d91749b9c9d59fe405c254dc5de4b3b801ca # v1.7.0
      with:
        cache-path: ~/go/bin/client
        cache-key: ${{ steps.resolve-latest-client.outputs.version }}
  build:
    needs:
    - download-conformance-client
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.13, 1.16, 1.18]
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@18bf8ad2ca49c14cbb28b91346d626ccfb00c518 # v2.1.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Check out code
      uses: actions/checkout@dc323e67f16fb5f7663d20ff7941f27f5809e9b6 # v2.6.0
    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@bfdd3570ce990073878bf10f6b2d79082de49492 # v2.2.0
      with:
        go-version: '${{ matrix.go-version }}'
    - name: Pre-fetch go dependencies and build
      run: 'go build ./...'
    - name: Fetch conformance client
      uses: actions/cache@627f0f41f6904a5b1efbaed9f96d9eb58e92e920 # v3.2.4
      with:
        path: ~/go/bin/client
        key: ${{ needs.download-conformance-client.outputs.cache-key }}
    - name: Run HTTP conformance tests
      run: |
        client \
            -type=http \
            -buildpacks=false \
            -start-delay=5 \
            -cmd="go run testdata/conformance/cmd/http/main.go"
    - name: Run event conformance tests
      run: |
        client \
          -type=legacyevent \
          -buildpacks=false \
          -start-delay=5 \
          -cmd="go run testdata/conformance/cmd/legacyevent/main.go"
    - name: Run CloudEvent conformance tests
      run: |
          client \
            -type=cloudevent \
            -buildpacks=false \
            -start-delay=5 \
            -cmd="go run testdata/conformance/cmd/cloudevent/main.go"
    - name: Run HTTP conformance tests using declarative API
      run: |
          FUNCTION_TARGET=declarativeHTTP client \
            -type=http \
            -buildpacks=false \
            -start-delay=5 \
            -cmd="go run testdata/conformance/cmd/declarative/main.go"
    - name: Run CloudEvent conformance tests using declarative API
      run: |
          FUNCTION_TARGET=declarativeCloudEvent client \
            -type=cloudevent \
            -buildpacks=false \
            -start-delay=5 \
            -cmd="go run testdata/conformance/cmd/declarative/main.go"
    - name: Run HTTP concurrency conformance tests
      run: |
          FUNCTION_TARGET=concurrentHTTP client \
            -type=http \
            -buildpacks=false \
            -start-delay=5 \
            -cmd="go run testdata/conformance/cmd/declarative/main.go" \
            -validate-concurrency=true