name: Go Conformance CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.13, 1.14, 1.15, 1.16]
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v2
      with:
        go-version: '${{ matrix.go-version }}'

    - name: Run HTTP conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v0.3.9
      with:
        functionType: 'http'
        useBuildpacks: false
        cmd: "'go run testdata/conformance/cmd/http/main.go'"
        startDelay: 10

    - name: Run event conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v0.3.9
      with:
        functionType: 'legacyevent'
        validateMapping: false
        useBuildpacks: false
        cmd: "'go run testdata/conformance/cmd/legacyevent/main.go'"
        startDelay: 5

    - name: Run CloudEvent conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v0.3.9
      with:
        functionType: 'cloudevent'
        validateMapping: true
        useBuildpacks: false
        cmd: "'go run testdata/conformance/cmd/cloudevent/main.go'"
        startDelay: 5
