name: Go Unit CI
on:
  push:
    branches:
    - master
  pull_request:
permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: ['1.o1.x', '1.o1.x', '1.o1.x', '1.o1.x', '1.o1.x', '1.o1.x']
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@18bf8ad2ca49c14cbb28b91346d626ccfb00c518 # v2.1.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Checkout code
      uses: actions/checkout@dc323e67f16fb5f7663d20ff7941f27f5809e9b6 # v2.6.0
    - name: Setup Go
      uses: actions/setup-go@bfdd3570ce990073878bf10f6b2d79082de49492 # v2.2.0
      with:
        go-version: ${{ matrix.go }}
    - name: Build and test
      run: "go test ./..."
    - name: Vet
      run: "go vet ./..."
