name: Go Unit CI
on:
  push:
    branches:
    - main
  pull_request:
permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: ['1.11', '1.13', '1.16', '1.18', '1.19', '1.20', '1.21']
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # v2.5.1
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443
          github.com:443
          objects.githubusercontent.com:443
          proxy.golang.org:443
          cloud.google.com:443
          golang.org:443
          go.uber.org:443
          go.googlesource.com:443
          go.uber.org:443
          gopkg.in:443
          google.golang.org:443
          go.opencensus.io:443

    - name: Checkout code
      uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
    - name: Setup Go
      uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9 # v4.0.0
      with:
        go-version: ${{ matrix.go }}
    - name: Build and test
      run: "go test ./..."
    - name: Vet
      run: "go vet ./..."
