name: Go Unit CI
on:
  push:
    branches:
    - master
  pull_request:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: [1.13, 1.16, 1.18, 1.19, 1.20]
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
    - name: Build and test
      run: "go test ./..."
    - name: Vet
      run: "go vet ./..."
