name: Go Unit CI
on: [push, pull_request]
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: [1.13, 1.14]
        os: [ubuntu-latest, macos-latest] # windows-latest doesn't support find -wholename
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
    - name: Format
      run: "find . -not \\( \\( -wholename './.git' \\) -prune \\) -name '*.go' | xargs gofmt -s -d"
    - name: Build and test
      run: "go test ./..."
    - name: Vet
      run: "go vet ./..."
